---
layout: base.njk
---

<a href="/" style="font-size:0.9em;">&larr; back</a>

<article style="margin-top:2rem;">
{{ content | safe }}
</article>

<a href="/" style="font-size:0.9em;display:inline-block;margin-top:2rem;">&larr; back</a>
